# 样本统计

In [1]:
import pandas as pd

## 原始样本骨架

In [2]:
sample_df = pd.read_csv("C:\\data\\taobao_data\\raw_sample.csv", iterator=True)
sample_df.read(5)

     user  time_stamp  adgroup_id          pid  nonclk  clk
0  581738  1494137644           1  430548_1007       1    0
1  449818  1494638778           3  430548_1007       1    0
2  914836  1494650879           4  430548_1007       1    0
3  914836  1494651029           5  430548_1007       1    0
4  399907  1494302958           8  430548_1007       1    0

In [3]:
sample_df.read(5).dtypes

user           int64
time_stamp     int64
adgroup_id     int64
pid           object
nonclk         int64
clk            int64
dtype: object

## 广告特征

In [4]:
ad_feat_df = pd.read_csv("C:\\data\\taobao_data\\ad_feature.csv")

In [5]:
ad_feat_df.describe(include='all')

,adgroup_id,cate_id,campaign_id,customer,brand,price
count,846811.000000,846811.000000,846811.000000,846811.000000,600481.000000,8.468110e+05
mean,423406.000000,5868.593464,206552.604280,113180.406006,229254.422596,1.838867e+03
std,244453.423738,2705.171203,125192.340908,73435.834950,132288.849633,3.108877e+05
min,1.000000,1.000000,1.000000,1.000000,2.000000,1.000000e-02
25%,211703.500000,4383.000000,97583.000000,47960.000000,110616.000000,4.900000e+01
50%,423406.000000,6183.000000,200780.000000,107278.000000,234423.000000,1.390000e+02
75%,635108.500000,7047.000000,314565.500000,172013.500000,344818.000000,3.520000e+02
max,846811.000000,12960.000000,423436.000000,255875.000000,461497.000000,1.000000e+08

In [6]:
ad_feat_df.dtypes

adgroup_id       int64
cate_id          int64
campaign_id      int64
customer         int64
brand          float64
price          float64
dtype: object

In [7]:
ad_feat_df = ad_feat_df.astype(dtype={'adgroup_id': 'string', 'cate_id': 'string', 'campaign_id': 'string', 'customer': 'string', 'brand': 'string'}, copy=False)
ad_feat_df.dtypes

adgroup_id      string
cate_id         string
campaign_id     string
customer        string
brand           string
price          float64
dtype: object

In [8]:
ad_feat_df.head(5)

  adgroup_id cate_id campaign_id customer     brand   price
0      63133    6406       83237        1   95471.0  170.00
1     313401    6406       83237        1   87331.0  199.00
2     248909     392       83237        1   32233.0   38.00
3     208458     392       83237        1  174374.0  139.00
4     110847    7211      135256        2  145952.0   32.99

In [9]:
ad_feat_df.describe(include='all')

       adgroup_id cate_id campaign_id customer     brand         price
count      846811  846811      846811   846811    600481  8.468110e+05
unique     846811    6769      423436   255875     99814           NaN
top         63133    6261      217092   115805  353787.0           NaN
freq            1   42691         591     1653      6553           NaN
mean          NaN     NaN         NaN      NaN       NaN  1.838867e+03
std           NaN     NaN         NaN      NaN       NaN  3.108877e+05
min           NaN     NaN         NaN      NaN       NaN  1.000000e-02
25%           NaN     NaN         NaN      NaN       NaN  4.900000e+01
50%           NaN     NaN         NaN      NaN       NaN  1.390000e+02
75%           NaN     NaN         NaN      NaN       NaN  3.520000e+02
max           NaN     NaN         NaN      NaN       NaN  1.000000e+08

## 用户特征

In [10]:
user_feat_df = pd.read_csv("C:\\data\\taobao_data\\user_profile.csv")
user_feat_df.dtypes

userid                     int64
cms_segid                  int64
cms_group_id               int64
final_gender_code          int64
age_level                  int64
pvalue_level             float64
shopping_level             int64
occupation                 int64
new_user_class_level     float64
dtype: object

In [11]:
user_feat_df = user_feat_df.astype('string')
user_feat_df.dtypes

userid                   string
cms_segid                string
cms_group_id             string
final_gender_code        string
age_level                string
pvalue_level             string
shopping_level           string
occupation               string
new_user_class_level     string
dtype: object

In [12]:
user_feat_df.describe(include='all')

,userid,cms_segid,cms_group_id,final_gender_code,age_level,pvalue_level,shopping_level,occupation,new_user_class_level
count,1061768,1061768,1061768,1061768,1061768,485851,1061768,1061768,716848
unique,1061768,97,13,2,7,3,3,2,4
top,234,0,3,2,3,2.0,3,0,2.0
freq,1,648381,204702,684251,307340,293656,835745,1002064,324420

In [13]:
user_feat_df.head(5)

,userid,cms_segid,cms_group_id,final_gender_code,age_level,pvalue_level,shopping_level,occupation,new_user_class_level
0,234,0,5,2,5,<NA>,3,0,3.0
1,523,5,2,2,2,1.0,3,1,2.0
2,612,0,8,1,2,2.0,3,0,<NA>
3,1670,0,4,2,4,<NA>,1,0,<NA>
4,2545,0,10,1,4,<NA>,3,0,<NA>

## 行为序列

In [15]:
user_behavior_df = pd.read_csv("C:\\data\\taobao_data\\behavior_log.csv", iterator=True)
user_behavior_df.read(50)

      user  time_stamp  btag   cate   brand
0   558157  1493741625    pv   6250   91286
1   558157  1493741626    pv   6250   91286
2   558157  1493741627    pv   6250   91286
3   728690  1493776998    pv  11800   62353
4   332634  1493809895    pv   1101  365477
5   857237  1493816945    pv   1043  110616
6   619381  1493774638    pv    385  428950
7   467042  1493772641    pv   8237  301299
8   467042  1493772644    pv   8237  301299
9   991528  1493780710    pv   7270  274795
10  991528  1493780712    pv   7270  274795
11  991528  1493780712    pv   7270  274795
12  991528  1493780712    pv   7270  274795
13  991528  1493780714    pv   7270  274795
14  991528  1493780765    pv   7270  274795
15  991528  1493780714    pv   7270  274795
16  991528  1493780765    pv   7270  274795
17  991528  1493780764    pv   7270  274795
18  991528  1493780633    pv   7270  274795
19  991528  1493780764    pv   7270  274795
20  991528  1493780633    pv   7270  274795
21  991528  1493780661    pv   7270  274795
22  991528  1493780661    pv   7270  274795
23  991528  1493780707    pv   7270  274795
24  991528  1493780707    pv   7270  274795
25  991528  1493780712    pv   7270  274795
26  991528  1493780710    pv   7270  274795
27  991528  1493780710    pv   7270  274795
28  991528  1493780710    pv   7270  274795
29  569051  1493825225    pv   6162  321565
30  609935  1493793815    pv  11714  450662
31  609935  1493793801    pv  11714  450662
32  791163  1493756004    pv   9361  217181
33  903245  1493779460    pv   7363   79122
34  581644  1493764064    pv   8723  182557
35  840457  1493741837  cart   2155  355993
36  840457  1493741844  cart   2155  355993
37  840457  1493741847    pv   2155  355993
38  840457  1493741862    pv   2155  355993
39  840457  1493741862    pv   2155  355993
40  840457  1493741851    pv   2155  355993
41  840457  1493741850    pv   2155  355993
42  840457  1493742163    pv   2155  355993
43  840457  1493741829    pv   2155  355993
44  832679  1493779415    pv   5515  245576
45  832679  1493779468    pv   5515  245576
46  832679  1493810640    pv   5515  245576
47  832679  1493776857    pv   5515  245576
48  832679  1493779300    pv   5515  245576
49  832679  1493776906   fav   5515  245576